.card {
  position: relative;
  background-color: var(--clr-grey-primary);
  border-radius: 0.5rem;
  
}

.completed {
  border: 1px solid #7ab530;
}

.shadow {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
}

.num {
  position: absolute;
  left: -1.5rem;
  top: 1rem;
}

.done-box {
  width: 2rem;
  height: 2rem;
  right: -1rem;
  top: 1rem;
  padding: 0.25rem;
  position: absolute;
  background-color: #7ab530;
  border-radius: 10rem;
}

.done-box img {
  margin-inline: auto;
}

.title {
  border-bottom: 1px solid var(--clr-grey-lines);
  padding: 1rem;
  height: 5rem;
}

.actions {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  padding-block: 1.5rem;
}